
.form_student {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_title_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralize_elements_create_inscript{
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}